exports = module.exports = {
	// port: 80,
	logger: 'dev',
	
	hosts: {
		'webroot': {
			root: '/Users/bencode/webroot'
		},

		/**
		 * static_site
		 */
		/*
		'assets.1688.com': {
			root: '/home/bencode/work/gw3/static_site',
			app: '/home/bencode/work/gw3/site_data',
			merge: true,
			remote: 'http://110.75.196.70'
		},
		*/

		/**
		 * style示例
		 */
		'style.c.aliimg.com': {
			root: '/Users/bencode/webroot/styles',

			//merge: true,

			rewrite: [
				// app/offer 的less支持
				{
					from: /^\/app\/offer\/(.*)\.css\b/,
					to: 'butterfly/$1.less'
				},
				{
					from: '^/app/offer/(.*)$',
					to: 'styleoffer/$1'
				},

				// app/butterfly的less支持
				{
					from: /^\/app\/butterfly\/(.*)\.css\b/,
					to: 'butterfly/$1.less'
				},
				{
					from: '^/app/butterfly/(.*)$',
					to: 'butterfly/$1'
				},

				// 其他文件代理到线上
				{
					from: '^(.*)$',
					to: 'http://110.75.196.23$1'
				}
			],

			// concatSplit: true
		}
	}
};

// require('./lib/ext/app').prepare(exports.hosts['assets.1688.com']);

